[Unit]
Description=CallFwd daemon
Requires=callfwd.socket
Requires=callfwd-acl.timer
Requires=callfwd-reload.timer
Wants=callfwd-acl.service
Wants=callfwd-reload.service

[Service]
Restart=on-failure
User=sergei
Group=sergei
Environment=LD_LIBRARY_PATH=/home/sergei
ExecStart=/home/sergei/callfwd \
  -flagfile=/etc/callfwd.flags
